body {
    color: yellow;
    background: black;
}

#ambient-background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background: black;
}

.content-wrapper {
    padding-top: 54px;
    display: flex;
    height: 90vh;
}

.bg-dark {
    background-color: black !important;
}

.btn-outline-yellow {
    color: yellow;
    border-color: yellow;
}

.btn-outline-yellow:hover {
    color: black;
    background-color: yellow;
    border-color: yellow;
}

.btn-yellow {
    color: black;
    background-color: yellow;
    border-color: yellow;
}

.btn-yellow:hover {
    color: yellow;
    background-color: black;
}

.logo {
    width: 100px;
}

.text-logo {
    font-size: 60px;
}